spring:
  application:
    name: certx
  profiles:
    active:
    - dev
server:
  shutdown: graceful

#Actuator
management:
  endpoint:
    restart: 
      enabled: true

logging: 
  file:
    path: logs/
    name: logs/certx.log
  level:
    '[io.github.thirumalx]': debug
  logback: 
    rollingpolicy: 
      max-history: 10
      max-file-size: 100MB
      total-size-cap: 1GB